<link rel="stylesheet" href="/css/feed.css" type="text/css" />
<script type="text/javascript" src="/js/feed.js"></script>

<div class="container">
    <%= render "sidebar" %>
    <div class="main">
        <% if @articles.present? %>
            <% now = Time.current %>
            <% @articles.each do |article| %>
                <div class="article">
    
                    <%= content_tag :div, class: "article_line", id: "article_" + article.id.to_s do %>
                        <%= content_tag :div, class: "article_line_site_title" do %>
                            <%= simple_format Site.find(article.site_id).name %>
                        <% end %>
        
                        <div class="article_line_title_and_content">
                            <% str_limit = 28 %>
        
                            <%= content_tag :div, class: "article_line_title" do %>
                                <%= link_to article.title, article.url, target: ["_blank"] %>
                                <% str_limit -= article.title.length %>
                            <% end %>
        
                            <%= content_tag :div, class: "article_line_content" do %>
                                <%= simple_format (article.content.lines[0])[0, str_limit] %>
                            <% end %>
                        </div>
        
                        <% @time_diff = now - article.published %>
        
                        <%= content_tag :div, class: "article_time" do %>
                            <%= render partial: "article_time" %>
                        <% end %>
        
                    <% end %>

                    <%= content_tag :div, class: "article_content" do %>
                        <%= simple_format article.content %>
                    <% end %>
                </div>
            <% end %>
        <% end %>
    </div>
</div>
