<link rel="stylesheet" href="/css/article_content.css" type="text/css" />

<div class="container">
    <%= render "sidebar" %>
    <div class="main">

        <%= button_to "新規追加", {action: "add"}, data:{confirm: "追加します"}, method: :post, params: {url: @url} %>

        <%= @site.name %> <br />
        <%= @site.url %> <br />

        <br />

        <%= render "article" %>
    </div>
</div>
