<div class="container">
    <%= render template: "feed/_sidebar" %>
    <div class="main">
        以下のカテゴリでサイトを追加登録する場合はボタンを押してください<br />
        <%= form_tag({action: :regist_opml}) do %>
            <%= submit_tag "追加登録", {action: "regist_opml", class: "regist_button", method: :post, data:{confirm: "本当に追加登録しますか?"}} %>
            <% site_id = 0 %>
            <% collection_id = 0 %>
            <div class="preview_opml">
                <% @reader.category.each_pair do |collection_name, sites| %>
                    <%= content_tag :div, class: "opml_collection_and_sites" do %>
                        <%= content_tag :div, class: "opml_collection" do %>
                            <%= collection_name %><br />
                            <%= hidden_field_tag "collection[#{collection_id}]", collection_name %>
                                    <% collection_id += 1 %>
                        <% end %>
                        <%= content_tag :div, class: "opml_sites" do %>
                            <% sites.each do |site| %>
                                <%= content_tag :div, class: "opml_site" do %>
                                    <%= link_to site["title"], site["html_url"] %><br />
                                    <%= hidden_field_tag "site[#{site_id}][title]", site["title"] %>
                                    <%= hidden_field_tag "site[#{site_id}][xml_url]", site["xml_url"] %>
                                    <%= hidden_field_tag "site[#{site_id}][collection_id]", collection_id %>
                                    <% site_id += 1 %>
                                <% end %>
                            <% end %>
                        <% end %>
                    <% end %>
                    <br />
                <% end %>
            </div>
        <% end %>
    </div>
</div>
